/NetBeans-folder-2-DAM/T12Ejercicio/target/
/NetBeans-folder-2-DAM/T12Ejercicio/nbproject/
/NetBeans-folder-2-DAM/WebPSPIvanOrtegaPoza/nbproject/private/
/NetBeans-folder-2-DAM/WebPSPIvanOrtegaPoza/build/
/NetBeans-folder-2-DAM/T12EjercicioWeb/build/
/NetBeans-folder-2-DAM/T12EjercicioWeb/nbproject/private/
